* {
    margin: 0;
    padding: 0;
    
}


body {
    background-color: rgb(31, 31, 31);
}

.start {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-h1 {
    color: white;
    margin-top: 20vh;
    z-index: 1;
    font-size: 3vmin;
}

.version {
    color: white;
    font-size: 1.7vmin;
}

.start-btn {
    display: none;
    opacity: 0;
    margin-top: 30vh;
    font-size: 5vmin;
    padding: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgba(255, 255, 255, 0);
    transition: all 0.1s linear;
}

.start-btn:hover {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.2vmin 2.5vmin, 2.5vmin 0.2vmin, 0.15vmin 2.5vmin, 2.5vmin 0.2vmin;
}

.game {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98vw;
    height: 6vh;
    background-color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    border-radius: 10px;
    background-color: rgb(95, 95, 95);
    border: none;
    display: flex;
    justify-content: space-evenly;
}   


.navbar button {
    border: none;
    font-size: 3vmin;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 2px;
    transition: all 0.1s linear;
}

#navbar-炼金-btn {
    border-bottom: solid 5px rgb(255, 238, 0);
}

.navbar button:hover {
    font-size: 3.5vmin;
}

.炼金 {
    position: absolute;
    width: 100vw;
    height: 94vh;
    top: 6vh;
    display: block;
}

.炼金-金币 {
    position: absolute;
    min-width: 200px;
    top: 5vh;
    left: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vmin;

}

.炼金-炼金-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vmin;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgba(255, 255, 255, 0);
    box-sizing: border-box;
    padding: 1px;
    transition: padding 0.3s linear, background-size 0.1s linear;
}

.炼金-炼金-btn:hover {
    padding: 30px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.2vmin 2.5vmin, 2.5vmin 0.2vmin, 0.15vmin 2.5vmin, 2.5vmin 0.2vmin;
}

.基地 {
    position: absolute;
    width: 100vw;
    height: 94vh;
    top: 6vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.基地-table {
    width: 90vw;
    height: 150px;
    display: none;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-evenly;
}

.基地-table.基地-table-start {
    display: flex;
}

.基地-table button {
    font-size: 6vmin;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgba(255, 255, 255, 0);
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
}

.基地-table button:hover {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
    linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
    linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.2vmin 2.5vmin, 2.5vmin 0.2vmin, 0.15vmin 2.5vmin, 2.5vmin 0.2vmin;
}


.基地-table-升级-btn  {
    display: none;
}

.基地-table-升级-btn.显示 {
    display: block;
}



.基地-table-升级-信息 {
    position: absolute;
    width: 50vw;
    height: 15vh;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(146, 146, 146);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

.冒险 {
    position: absolute;
    width: 100vw;
    height: 94vh;
    top: 6vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.设置 {
    position: absolute;
    width: 100vw;
    height: 94vh;
    top: 6vh;
    display: none;
    justify-content: center;
    align-items: center;
}


.弹窗 {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}

.弹窗_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35vh;
    height: 30vh;
    justify-content: space-between;
    background-color: white;
    padding: 5vmin;
    border-radius: 1vmin;
}


.弹窗_text {
    background-color: #fff;
    width: 50vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 4vmin;
    text-align: center;
    
}


.弹窗_关闭 {
    color: black;
    background-color: aqua;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 2vmin;
}

.炼金-黄金自动生产机 {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(95, 95, 95);
    width: 60vw;
    height: 5vh;
    border-radius: 10px;
    padding: 15px;
    display: none;
    align-items: center;


}

.炼金-黄金自动生产机-进度条 {
    border: solid 1px black;
    border-radius: 10px;
    width: 40vw;
    height: 5vh;
    margin-right: 10px;
    flex: 3;
}

.炼金-黄金自动生产机-进度条-进度 {
    background-color: rgb(177, 177, 177);
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

.炼金-黄金自动生产机-进度条-name {
    position: absolute;
    left: 29%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: gold;
    font-size: 2.5vmin;
    text-shadow: 
        -0.1vmin -0.1vmin 0 black,
        0.1vmin -0.1vmin 0 black,
        -0.1vmin 0.1vmin 0 black,
        0.1vmin 0.1vmin 0 black; 
}

.炼金-黄金自动生产机-start-btn , .炼金-黄金自动生产机-stop-btn {
    flex: 1;
    font-size: 2.5vmin;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.炼金-黄金自动生产机-start-btn {
    margin-right: 10px;
    background-color: rgb(81, 255, 0);
}

.炼金-黄金自动生产机-stop-btn {
    background-color: red;
}

.炼金-黄金自动生产机-start-btn:hover , .炼金-黄金自动生产机-stop-btn:hover {
    border: solid 1px black;
}

.基地-table-升级-返回-btn {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5vmin;
}