.mfz {
    position: absolute;
    top: calc(20vh - 80px);
    left: calc(50vw - 100px);
    width: 200px;
    height: 200px;
    transform-origin: 50% 50%;
    animation: rotate360 6s linear infinite;
}


.r1, .r2 {
    border: solid 2px white;
    border-radius: 100%;
    position: absolute;
}

.r1 {
    width: 200px;
    height: 200px;
}

.r2 {
    width: 220px;
    height: 220px;
    top: -10px;
    left: -10px;
}

.z1, .z2 {
    border: solid 2px white;
    position: absolute;
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
}


.z2 {
    transform: rotate(45deg);
}

.mfz:hover .r1, .mfz:hover .r2, .mfz:hover .z1, .mfz:hover .z2 {
    animation: border-color-flow 6s linear infinite;
}


@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.start {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 定义闪烁动画 */
@keyframes blink {
    0%, 100% { opacity: 1; } /* 开始和结束时完全不透明 */
    50% { opacity: 0; } /* 中间时完全透明 */
}

@keyframes border-color-flow {
    0% {
        border-color: yellow;
    }
    25% {
        border-color: blue;
    }
    50% {
        border-color: red;
    }
    75% {
        border-color: green;
    }
    100% {
        border-color: yellow;
    }
}